<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata setup -->
    <meta charset="utf-8" />
    <title>green-space</title>
    <meta name="description" content="green-space" />
    <meta name="author" content="georgina pratt" />
    <meta name="keywords" content="PoseNet, plants, doodles" />

    <!-- link to css -->
    <link rel="stylesheet" href="careSystem.css" />
    <link rel="stylesheet" href="help.css" />

    <!-- Google Font (Noto Serif) setup -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap"
      rel="stylesheet"
    />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="favicon-green.png" />
  </head>

  <header></header>

  <body><script src="/superhi.js"></script>
    <div class="modeButtons">
      <!-- app mode buttons -->
      <a class="draw" href="careSystem.html">Care system</a>
      <!-- <a class="collage" href="collage.html">Collage Mode</a>
      save image button
      <a href="#" class="button" id="btn-download" download="green-space.png">Save Image</a> -->
      <!-- help button -->
      <a class="help" class="help " href="help.html">Help</a>
    </div>
    <!-- p5.js sketch -->
    <div id="p5Canvas">
      <canvas id="myCanvas" width="100%" height="100%" style="display:none;">
        <script></script>
      </canvas>
    </div>

    
    <div class="helpBox">
      <p>
       A <strong>'slider'</strong> is element that uses a knob moved horizontally to control a variable.
      </p>

      <p>
        <strong>To change the value of the slider,</strong> click with the mouse on it and drag it to the left -if feeling low- or to the right -if feeling bright-.
      </p>
      
    </div>
  </body>

  <footer></footer>
</html>
