<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata setup -->
    <meta charset="utf-8" />
    <title>come rain or shine</title>
    <meta name="description" content="come rain or shine" />
    <meta name="author" content="rocio rey" />
    <meta name="keywords" content="emotions, father, daughter, intimacy, water, light" />

    <!-- link to css -->
    <link rel="stylesheet" href="index.css" />


    <!-- Google Font (Noto Serif) setup -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap"
      rel="stylesheet"
    />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="favicon-green.png" />
  </head>

  <header></header>

  <body>

    <!-- Script tag here -->
    <!-- <script src="/superhi.js"></script> -->
    
    <div class="intro">
      <h1>Come rain or shine</h1>
      <p>
        Welcome! Come rain or shine is a father-daughter remote care system to explore non-verbal emotional sharing. 
      </p>
      <p>Through turning on the watering system (<i>'I'm feeling low'</i>) or turning on a grow light (<i>'I'm feeling light'</i>), you will be able to take care of a physical plant whilst showing each other how you're feeling!</p>
    </div>
    <div class="enterButton">
      <a href="careSystem.html">Start caring</a>
    </div>
  </body>

  <footer></footer>
</html>