<!DOCTYPE html>
<html>
    <head>
        <title>Commonplace</title>
        <meta harset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href= "main.css">
        <link rel="shortcut icon" type="image/jpg" href="/imgs/favicon.png"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
        <script src="https://player.twitch.tv/js/embed/v1.js"></script>
        

    </head>

    <body>






    <div class="row">
      <div class="topnav">
       <span><a href="spanish.html">Español</a></span>
       <!-- <a href="indexSpanish.html">Contact Information</a> -->
       <span> </span>
       <div class="dottedLineNav">
       <!-- <img src="imgs/dottedLine.png" alt="Dotted Line"> -->
      </div>
      </div>
        <div class="column">
          <!-- <div id="dottedSquare">
          <img src="imgs/DottedSquare.png" alt="Dotted Square">
        </div> -->
            <h1 id="newText">Keeping it alive</h1>
          <p1>Every time a genuine response is written and sent, you will activate a plant watering system. This interaction aims to bring more meaningful exchange to a dying bond.</p>
          <label for="emotion">How are you feeling?</label>
          <!-- <input id="moodHappy" value="" /> -->
          <button id="sendWordHappy">Happy</button>

          <!-- <input id="moodSad" value="" /> -->
          <button id="sendWordSad">Sad</button>

          <button id="sendWordLonely">Lonely</button>
        </div>
        
        <div class="column">
      <!-- Add a placeholder for the Twitch embed -->
      <!-- <div id= video> -->
        <!-- video tag to twitth will go here -->
       
        <!-- <div id="twitch-embed"></div> -->
        <!-- <iframe id = "iframe" width="560" height="315" src="https://www.youtube.com/embed/0c8ItqDkd2Q?autoplay=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe id = "iframe" width="560" height="315" src="https://www.youtube.com/embed/NOZl-u-Sepc?autoplay=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/KL2uPhROj0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <!-- <iframe id="myythtml5player" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" width="560" height="315"
        src="https://www.youtube.com/embed/7Dr_jKqvLjE?autoplay=1&mute=1&controls=0widget_referrer=https%3A%2F%2Ftinybitegames.com&amp;enablejsapi=1&amp;origin=https%3A%2F%2Ftinybitegames.com&amp;widgetid=1" data-tooltip-align="b,c" data-tooltip="YouTube video player" aria-label="YouTube video player" data-title="YouTube video player"></iframe>   -->
        <!-- <iframe id="ytplayer" type="text/html" width="720" height="316"
        src="https://www.youtube.com/embed/7Dr_jKqvLjE"
        frameborder="0" allowfullscreen> -->
<!-- 
        <iframe id="ytplayer" type="text/html" width="560" height="315"
src="https://www.youtube.com/embed/7Dr_jKqvLjE?autoplay=1"
frameborder="0" allowfullscreen> -->
      </div>
      </div>
    </body>


<script src="/socket.io/socket.io.js"></script>
<script src="data.js"></script>
</html>
